body {
  background-color: black;
  color: white;
  text-align: center;
  margin: 0;
}

.container {
  width: 50%;
  margin-left: 25%;
  margin-top: 80px;
}

.container img {
  width: 100%;
  border: 5px solid white;
}

.container h1 {
  font-family: 'Libre Baskerville', serif;
  text-transform: uppercase;
  font-size: 36px;
  margin: 25px 0 10px;
}

.container p {
  font-size: 18px;
  margin-top: 0;
  letter-spacing: 0.5px;
}
