body {
  background-color: black;
  color: white;
  text-align: center;
  margin: 0;
}

.poster {
  width: 50%;
  margin-left: 25%;
  margin-top: 50px;
}

.poster img {
  width: 100%;
  border: 5px solid white;
}

.poster h1 {
  font-family: 'Libre Baskerville', serif;
  text-transform: uppercase;
  margin-top: 20px;
}

.poster p {
  font-size: 16px;
}
